ANISUBIO_PUBLIC_BASE_URL=http://localhost:8000
ANISUBIO_ADMIN_KEY=change-me
ANISUBIO_DATABASE_URL=sqlite:///./data/anisubio.db
ANISUBIO_STORAGE_DIR=./data/subtitles
ANISUBIO_DOWNLOAD_DIR=./data/downloads
ANISUBIO_ALLOWED_SOURCE_HOSTS=www.fansubs.ru,fansubs.ru
ANISUBIO_HTTP_USER_AGENT=Mozilla/5.0 (compatible; AniSubio/0.1; +https://github.com/qqpl4nka/AniSubio)
ANISUBIO_MAX_ARCHIVE_BYTES=104857600
ANISUBIO_MAX_EXTRACTED_BYTES=524288000
ANISUBIO_MAX_ARCHIVE_FILES=5000
ANISUBIO_MANIFEST_CACHE_SECONDS=3600
ANISUBIO_SUBTITLE_LIST_CACHE_SECONDS=1800
ANISUBIO_SYNC_KITSU_IDS=
ANISUBIO_SYNC_INTERVAL_SECONDS=21600
ANISUBIO_SYNC_MIN_REQUEST_DELAY_SECONDS=5
ANISUBIO_SYNC_MAX_REQUEST_DELAY_SECONDS=5
ANISUBIO_TELEGRAM_STORAGE_CHANNEL_ID=
ANISUBIO_TELEGRAM_BACKUP_CHANNEL_ID=
ANISUBIO_LOCAL_CACHE_DIR=./data/cache
ANISUBIO_LOCAL_CACHE_MAX_BYTES=2147483648
ANISUBIO_TELEGRAM_BOT_TOKEN=
ANISUBIO_TELEGRAM_PROXY_URL=
ANISUBIO_TELEGRAM_API_BASE=https://api.telegram.org
ANISUBIO_TELEGRAM_UPLOAD_INTERVAL_SECONDS=1
ANISUBIO_JOB_POLL_INTERVAL_SECONDS=3
ANISUBIO_JOB_MAX_ATTEMPTS=3
ANISUBIO_BACKUP_INTERVAL_SECONDS=86400
ANISUBIO_TEMP_DIR=/tmp/anisubio
ANISUBIO_LAZY_WAIT_SECONDS=0
ANISUBIO_CATALOG_SCAN_INTERVAL_SECONDS=86400
ANISUBIO_CATALOG_RESOLVE_BATCH_SIZE=20
ANISUBIO_METADATA_PROXY_URL=
ANISUBIO_SYNC_REQUEST_RETRIES=3
ANISUBIO_HTTP_RATE_LIMIT_FILE=/tmp/anisubio/http-rate-limit
ANISUBIO_TELEGRAM_RATE_LIMIT_FILE=/tmp/anisubio/telegram-upload-rate-limit
ANISUBIO_REVIEW_BATCH_SIZE=25
ANISUBIO_REVIEW_POLL_INTERVAL_SECONDS=60
